<html>

    <head>
        <title>Jobify</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <body>
            <%- include('header.ejs')%>
       
        <h2>Open roles:</h2>
        <div>
            <h3>Engineering team</h3>
            <ul>
                <li><a href="vaga">Fullstack Developer (Remoto)</a></li>
            </ul>
        </div>

        <div>
            <h3>Marketing team</h3>
            <ul>
                <li>Digital Marketing (San Francisco)</li>
            </ul>
        </div>
    </body>
</html>
